/* FILLED */

.AppButton1,
.AppButton1::after {
  padding: 5px 18px;
  font-size: 16px;
  background: linear-gradient(
    45deg,
    /*transparent*/ #374151 5%,
    /*#ff013c*/ #374151 5%
  ) !important;
  border: 0;
  border-radius: 8px;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1;
  box-shadow: 6px 0px 0px #a855f7; /*#00e6f6 #e0b0ff #fef08a - yellow*/
  outline: transparent;
  position: relative;
}

@media screen and (max-width: 670px) {
  .AppButton1 {
    font-size: 14px;
  }
}

.AppButton1::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "LAWR DEVRLPR";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #e0b0ff 3%,
    #e0b0ff 5%,
    #374151 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #e0b0ff;
  clip-path: var(--slice-0);
}

.AppButton1:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* outlined */

/* From uiverse.io by @meermubashar */
.AppButton2 {
  padding: 5px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  border: none;
  outline: none;
  background: transparent;
  color: #374151;
  font-family: inherit;
  font-weight: inherit;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
}

.AppButton2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background-color: #374151;
  border-radius: 2px;
  z-index: -1;
  transition: all 0.5s;
}

.AppButton2:hover::before {
  width: 100%;
  border-radius: 0;
}

.AppButton2:hover {
  color: #f8f9fa;
}

.AppButton2:active:before {
  background: #b9b9b9;
}
